
.banner.full-width {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  height: 10rem;
}
  
.banner.full-width img {
  height: 110%;
  object-fit: scale-down;
  object-position: center;
  display: flex;
  margin: 0 auto;
  max-width: 100%;
}

.section.banner-title {
  display: flex;
  align-items: center;
  height: 100%;
}

.section.banner-title h1 {
  color: var(--deep-purple);
  animation: bannerLoadUp 1s forwards;
  box-shadow: 12px 12px 0px 0px var(--deep-purple);
  padding: 0.25rem 1.5rem;
  max-width: 20rem;
  background: var(--white);
  margin: 0 auto;
  display: block;
}

@media (min-width: 768px) {
  .banner.full-width {
    height: 15rem;
  }
  .section.banner-title h1 {
    font-size: 2.5rem;
    max-width: 80vw;
  }
}

