
.introSection {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    /* min-height: 568px; */
    height: 100vh;
}
.heroVideo--container {
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    /*   aspect ratio of 4:5 */
    position: relative;
    background: var(--deep-purple);
    margin-top: 1.25rem;
    flex-shrink: 0;
  }
.heroVideo {
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   flex-shrink: 0;
}

.homepage {
    display: flex;
    flex-basis: 100%;
    height: calc(100vh - 5rem);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    flex-wrap: wrap;
    width: 100%;
    position: absolute;
    top: 5rem;
    background: linear-gradient(135deg, var(--off-white) 62%, transparent 38%), radial-gradient(var(--dots-grey) 4px, transparent 4px), radial-gradient(var(--dots-grey) 4px, transparent 4px), transparent;
    background-size: 100%, 24px 24px, 24px 24px, 100%;
    background-position: 0 0, -2px 6px, 10px 18px, 0 0;
    background-color: var(--off-white);
}

@media (pointer: fine) {
    .homepage {
        scroll-snap-type: unset;
    }
}

.hp-section {
	height: 100%;
    scroll-snap-align: start;
    flex-basis: 100%;
}

@media (min-width: 768px) {
    .heroVideo--container {
        margin-top: 2.5rem;
        width: calc(90% - 1.25rem);
    }
    .aboutIntro {
        margin-top: 0.75rem;
    }
    .homepage {
        /* min-height: 40rem; */
    }
    .introSection {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 2rem;
        justify-content: center;
        /* min-height: 768px; */
    }

    .bioSection {
        justify-content: flex-start;
    }
    .aboutIntro  {
        width: calc(40%);
    }
    .aboutIntro {
        margin-top: 3rem;
        padding-right: 4rem;
    }
    .heroVideo--container {
        padding-top: 27.125%;
        /*   aspect ratio of 4:5 */
        position: relative;
      }

}

/* Project Previews */

.project-preview-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.homepage .project-preview-container:nth-child(odd) {
    background: var(--white);
}
.homepage .project-preview-container:nth-child(even) {
    background: var(--off-white);
}

.project-preview {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
    z-index: 1;
    top: 0;
    align-items: center;
    padding-top: 3rem;
    text-decoration: none;
}

.project-preview:not(:first-child) {
    margin-top: 5rem;
}

.project-preview-thumbnail {
    width: 15rem;
    height: 15rem;
    background: var(--white);
    position: relative;
    border-radius: 1.25rem;
    transform: rotate(-20deg);
    transition: background 0.5s ease, transform 0.3s ease;
    /* border: 0.1875rem solid #FFF; */
}

.project-preview:nth-child(even) .project-preview-thumbnail{
    transform: rotate(20deg);
}

.project-preview-thumbnail > img {
    position: absolute;
    top: 1.25rem;
    width: 125%;
    transform: rotate(20deg)translate(-3rem, -0.75rem);
    transition: 0.3s ease;
    pointer-events: none;
}

.project-preview:nth-child(even) img {
    transform: rotate(-20deg)translate(0px, -1rem);
}

.project-preview h2 {
    margin-top: 4rem;
    width: 100%;
    text-align: center;
}

.image-right {
    display: none;
}

@media (min-width: 768px) {
    .project-preview-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .project-preview {
        width: calc(100% / 2);
        transition: transform 0.75s ease, opacity 1s ease;
    }

    .project-preview.before {
        transform: scale(0.75);
        /* opacity: 0; */
    }
    
    .image-right > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .image-right {
        display: flex;
        background: var(--white);
        width: calc(100% / 2);
        height: 100%;
        justify-content: center;
        align-content: center;
        overflow: hidden;
        position: relative;
        padding: 3rem;
        flex-wrap: wrap;
        transition: transform 1.5s ease, box-shadow 1s ease;
        /* box-shadow: 0rem 0px 0px 0px white; */
    }

    .image-right.before {
        /* box-shadow: -12rem 0px 0px 0px white; */
        /* transform: translateX(-7.5rem); */
    } 

    .project-preview-container:nth-child(odd) .image-right {
        background: var(--happy-mustard);
        box-shadow: 0 0px 0px 0px var(--happy-mustard);
    }

    .project-preview-container:nth-child(odd) .image-right p {
        color: var(--happy-mustard-text);
    }

    .project-preview-container:nth-child(odd) .image-right.before {
        box-shadow: -12rem 0px 0px 0px var(--happy-mustard);
    }

    .project-preview-container:nth-child(even) .image-right.before {
        box-shadow: -12rem 0px 0px 0px var(--white);
    }


    .image-right p { 
        transition: transform 1s ease;
        min-width: 70%;
    }

    .image-right.before p {
        transform: translateX(-2rem);
    }

    .project-preview-thumbnail {
        width: 14rem;
        height: 14rem;
    }
    .project-preview h2 {
        padding: 0 1rem;
    }

    .project-preview:hover .project-preview-thumbnail, .project-preview:hover img, .project-preview:nth-child(even):hover img, .project-preview:nth-child(even):hover .project-preview-thumbnail {
        transform: rotate(0);
        top: 0;
    }
    
    .project-preview:hover .project-preview-thumbnail, .project-preview:nth-child(even):hover .project-preview-thumbnail {
        background: var(--happy-mustard);
    }
}

@media (min-width: 1024px) {
    .project-preview-thumbnail {
        width: 17rem;
        height: 17rem;
    }
    .project-preview h2 {
        font-size: 1.375rem;
    }
}

@media (min-width: 1800px) {
    .project-preview-thumbnail {
        width: 24rem;
        height: 24rem;
    }
    .project-preview h2 {
        font-size: 2rem;
    }
}



