.project-preview-thumbnail.header {
    transition: background 0.5s ease, transform 0s ease;
    animation-name: project-landing;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-direction: alternate; 
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    background: #FEC155;
    overflow: hidden;
}

.project-preview-container.header {
    overflow: hidden;
    pointer-events: none;
    flex-wrap: wrap;
}

.project-preview-container.header .project-preview {
    position: fixed;
}

.project-preview-container.header .banner.full-width {
    width: 100%;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 5.5rem;
}

.project-preview-thumbnail.header > img {
    width: 40rem;
}

@media (min-width: 768px) {
    .project-preview-thumbnail.header {
        transition: background 0.5s ease;
        animation-name: project-landing-tablet;
        animation-duration: 0.65s;
    }

    .project-preview-thumbnail.header > img {
        top: 35rem;
        left: 50vw;
    }
}

@media (min-width: 768px) {
    .project-preview-thumbnail.header {
        animation-duration: 1s;
    }
}

.project-content {
    margin-top: 13rem;
    z-index: 1;
    background: #FFF;
    position: relative;
    padding: 1.5rem 2rem;
    min-height: 100vh;
    opacity: 0;
    animation: projectContentLoadIn 0.5s forwards;
    animation-delay: 0.5s;
    max-width: 1280px;
}

@media (min-width: 768px) {
    .project-content {
        padding: 2rem 2.5rem;
    }
}


@keyframes project-landing {
    100% {  
            top: -18rem;
            transform: rotate(-20deg) translate(-60vw, -2rem);
            width: 150vw;
            height: 30rem;
    }
}

@keyframes project-landing-tablet {
    100% {  width: 150vw;
            top: -35rem;
            transform: rotate(-4deg) translate(-50vw, -2rem);
            height: 50rem;
            left: 0
        }
}

@keyframes projectContentLoadIn {
    0%   { 
        opacity: 0; 
        transform: translateY(1rem);
    }
    100% { 
  
        transform: translateY(0);
        opacity: 1; 
    }
  }