.project-preview-thumbnail.header {
    transition: background 0.5s ease, transform 0s ease;
    animation-name: project-landing;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-direction: alternate; 
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    background: #FEC155;
    overflow: hidden;
}

.project-preview-container.header {
    overflow: hidden;
    flex-wrap: wrap;
    pointer-events: none;
}

.project-preview-container.header .project-preview {
    position: relative;
    width: 100%;
    height: 13rem;
    cursor: initial;
    display: flex;
    align-items: center;
}

.project-preview-container.header .banner.full-width {
    width: 100%;
    z-index: 1;
    top: -1.5rem;
    position: relative;
}

.project-preview-thumbnail.header > img {
    width: 40rem;
}

@media (min-width: 768px) {
    .project-preview-thumbnail.header {
        transition: background 0.5s ease;
        animation-name: project-landing-tablet;
        animation-duration: 0.5s;
    }

    .project-preview-container.header .banner.full-width {
        top: -4rem;
    }

    .project-preview-thumbnail.header > img {
        top: 35rem;
        left: 50vw;
    }

    .project-preview-container.header .project-preview {
        margin-top: 1.5rem;
     }
}

@media (min-width: 768px) {
    .project-preview-thumbnail.header {
        animation-duration: 1s;
    }
}

.project-content {
    z-index: 1;
    background: #FFF;
    position: relative;
    padding: 1.5rem 2rem;
    min-height: 100vh;
    opacity: 0;
    animation: projectContentLoadIn 0.5s forwards;
    animation-delay: 0.8s;
    max-width: 1280px;
}

.project-content section {
    padding-bottom: 1.5rem;
    border-bottom: 3px solid #f7f7f7;
}

p.intro {
    font-size: 1.25rem;
    font-weight: 300;
    max-width: 36rem;
    padding-bottom: 0.5rem;
}

.project-content .col {
    margin-top: 1rem;
}

.project-content h3 {
    margin-top: 2rem;
}

.project-content h3 {
    font-size: 1.125rem;
}

.project-content h2 {
    position: relative;
    font-weight: 300;
}

.project-content .col p {
    margin-top: 0.875rem;
}

.project-content .col p:first-of-type {
    margin-top: 0.75rem;
}




.next-project-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    height: 10rem;
}
.next-project-section > div {
    height: 2rem;
    width: 2rem;
    border: 0.25rem solid #F0EEE9;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    display: flex;
    font-size: 1.25rem;
    transition: all 0.5s ease;
}

.next-project-section > div.loading {
    animation-name: loadingNextProject;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-direction: alternate; 
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.next-project-intro h4 {
    color: #fff;
}

  @keyframes loadingNextProject {
    0%   { 

        transform: translateY(4rem) scale(1.25);
        border: 0.25rem solid #F0EEE9;
    }
    
    25% { 
  
        transform: translateY(4rem) scale(0.75);
        border: 0.25rem solid #FEC155;
    }

    50%   { 

        transform: translateY(4rem) scale(1.25);
        border: 0.25rem solid #F0EEE9;
    }
    75% { 
  
        transform: translateY(4rem) scale(0.75);
        border: 0.25rem solid #FEC155;
    }
    
    100% { 
  
        transform: translateY(4rem) scale(1.25);
        border: 0.25rem solid #F0EEE9;
    }
  }


.project-content h2:after {
    content: "";
    position: absolute;
    bottom: -0.125rem;
    left: -0.5rem;
    background: #FEC155;
    width: calc(100% + 1rem);
    height: 2.5rem;
    z-index: -1;
    opacity: 1;
}

@media (min-width: 768px) {
    .project-content {
        padding: 1rem 2.5rem;
    }
    .project-content .col {
        width: calc((100% / 2) - 4rem);
    }
    .project-content h2 {
        position: relative;
        font-size: 1.75rem;
        font-weight: 300;
    }
    .project-content h3 {
        font-size: 1.25rem;
    }
}

@media (min-width: 1024px) {
    .project-content {
        font-size: 1.125rem;
    }
    p.intro {
        font-size: 1.625rem;
    }
}


@keyframes project-landing {
    100% {  
            top: -22.5rem;
            transform: rotate(-20deg) translate(-60vw, -2rem);
            width: 150vw;
            height: 30rem;
    }
}

@keyframes project-landing-tablet {
    100% {  width: 150vw;
            top: -40rem;
            transform: rotate(-4deg) translate(-50vw, -2rem);
            height: 50rem;
            left: 0
        }
}

@keyframes projectContentLoadIn {
    0%   { 
        opacity: 0; 
        transform: translateY(1rem);
    }
    100% { 
  
        transform: translateY(0);
        opacity: 1; 
    }
  }

