.project-page {
    position: absolute;
    top: 4.5rem;
    background: var(--off-white);
    z-index: 2;
    width: 100%;
}
.project-preview-thumbnail.header {
    animation-name: project-landing;
    animation-duration: 0.75s;
    animation-iteration-count: 1;
    animation-direction: alternate; 
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    background: var(--happy-mustard);
    overflow: hidden;
    margin-top: -2rem;
    clip-path: polygon(100% 0, 100% 60%, 0 100%, 0 0);
}
body.dark .project-preview-thumbnail.header {
    background: var(--dots-grey);
}
.project-page.direct-link .project-preview-thumbnail.header {
    width: 0;
    height: 25rem;
    animation-timing-function: ease-in-out;
}
body.dark .project-preview-thumbnail.header {
    background: #333;
}

.project-preview-container.header {
    flex-wrap: wrap;
}
.project-preview-thumbnail > svg {
    position: absolute;
    top: 1.25rem;
    width: 125%;
    transform: rotate(20deg)translate(-3rem, -0.75rem);
    transition: 0.3s ease;
    pointer-events: none;
    height: 100%;
}

.project-preview-thumbnail img {
   height: 100%;
    position: absolute;
    top: 0;
    filter: blur(3px);
    bottom: 0;
    animation: blurIn 1s forwards;
}


@media (min-width: 768px) {
    .project-preview-thumbnail img {
        width: 100%;
        height: auto;
    }
}

.project-preview-container.header .project-preview {
    position: sticky;
    top: 4.5rem;
    width: 100%;
    height: 13rem;
    cursor: initial;
    display: flex;
    align-items: center;
    pointer-events: none;
    box-shadow: 0 -16rem 0 var(--off-white);
}
.project-preview-container.header .banner.full-width {
    width: 100%;
    z-index: 1;
    top: 0;
    position: relative;
}
.project-preview-thumbnail.header > svg {
    width: auto;
    position: relative;
    animation: imageTransition 0.5s forwards;
}
.project-content {
    background: var(--white);
    position: relative;
    padding: 1.5rem 2rem;
    min-height: 100vh;
    opacity: 0;
    animation: projectContentLoadIn 0.5s forwards;
    animation-delay: 0.8s;
    max-width: 1280px;
    width: 100%;
    z-index: 2;
}
.project-content section {
    padding-bottom: 1.5rem;
    border-bottom: 2px dashed var(--off-white);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.project-content section:last-of-type {
    border-bottom: 0;
}
.project-content .project-content section .subsection .col:nth-child(1n) > div:nth-child(1) h3  {
    margin-top: 1rem;
}
.project-content .col {
    margin-top: 1rem;
}
.project-content h3 {
    margin-top: 2rem;
    font-size: 1.125rem;
    font-family: "Palanquin Dark",sans-serif;
}
.project-content .responsibilities {
    background: var(--deep-purple);
    padding: 1.75rem 2rem;
    margin-top: 1rem;
}

.project-content .responsibilities h3 {
    margin-top: 0;
    color: var(--white);
}

.project-content .responsibilities ul {
    list-style-type: circle;
    margin-block-start: 0.5rem;
}

.project-content ul {
    padding-inline-start: 0;
}
.project-content blockquote {
    margin: 1rem 0 2rem 0;
}

.project-content blockquote em {
    font-size: 1.5rem;
    color: var(--subtext);
    line-height: 1.5;
}
.project-content blockquote.feature {
    margin-top: 2rem;
}

.project-content blockquote.feature em {
    font-size: 2rem;

}

.project-content .responsibilities ul li {
    font-size: 1rem;
    margin-block-start: 0.25rem;
    color: var(--white);
}

.project-content .heading-container {
    width: 100%;
}

.project-content h2 {
    position: relative;
    font-weight: 400;
    color: var(--happy-mustard-text);
    font-family: 'Palanquin', sans-serif;
}

.project-content .col p {
    margin-top: 0.875rem;
}

.project-content .col ul {
    margin-top: 0.875rem;
    list-style-type: circle;
}
.project-content .col li {
    margin: 0.5rem 0 0.75rem 2rem;
}
.project-content .col a {
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 400;
    display: flex;
    margin-top: 1.5rem;
}

.project-content .col p:first-of-type {
    margin-top: 0.75rem;
}

.project-content .featured-image-container {
    width: 100vw;
    height: auto;
    overflow: hidden;
    margin-top: 3rem;
    margin-left: -2rem;
    margin-right: -2rem;
    background: var(--off-white);
}

.project-content .featured-image-container img {
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
}

.project-content .subsection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.project-content .subsection .col .LazyLoad {
    overflow: visible;
}

@media (min-width: 768px) {
    .project-content .subsection .col .LazyLoad {
        min-height: 18rem;
    } 
}


.project-content .subsection .col img {
    width: 100%;
}
.project-content .subsection .col video {
    width: 100%;
    border-radius: 0.25rem;
}


@media (min-width: 768px) {
    .project-content .featured-image-container {
        width: 100%;
        margin: 0;
        margin-top: 2rem;
    }
    .project-content .subsection .col  .LazyLoad {
        margin-top: 1.25rem;
    }
}



.next-project-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    height: 10rem;
    background: var(--off-white);
    z-index: 2;
}
.next-project-section > div {
    height: 2rem;
    width: 2rem;
    border: 0.25rem solid var(--off-white);
    display: flex;
    justify-content: center;
    border-radius: 50%;
    display: flex;
    font-size: 1.25rem;
    transition: all 0.5s ease;
    
}

.next-project-section > div.loading {
    content: "";
    position: absolute;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    border: 0.25rem solid rgba(255,255,255, 0.05);
    border-left-color: var(--happy-mustard);
    border-top-color: var(--happy-mustard);
    top: 37%;
    animation: spin 1.25s linear;
    animation-fill-mode: forwards;
    z-index: 2;
}

@keyframes spin {

    50% {
        border-left-color: var(--happy-mustard);
        border-top-color: var(--happy-mustard);
    }
    100% {
        transform: rotate(1000deg);
        border-left-color: var(--off-white);
        border-top-color: var(--off-white);  
    } 
}

@keyframes blurIn {

    0% {
        filter: blur(3px);
    }
    100% {
        filter: blur(0);
    } 
}

  @keyframes loadingNextProject {
    0%   { 

        transform: translateY(4rem) scale(1.25);
        border: 0.25rem solid var(--off-white);
    }
    
    25% { 
  
        transform: translateY(4rem) scale(0.75);
        border: 0.25rem solid var(--happy-mustard);
    }

    50%   { 

        transform: translateY(4rem) scale(1.25);
        border: 0.25rem solid var(--off-white);
    }
    75% { 
  
        transform: translateY(4rem) scale(0.75);
        border: 0.25rem solid var(--happy-mustard);
    }
    
    100% { 
  
        transform: translateY(4rem) scale(1.25);
        border: 0.25rem solid var(--off-white);
    }
  }


.project-content h2:after {
    content: "";
    position: absolute;
    left: -0.5rem;
    background: var(--happy-mustard);
    width: calc(100% + 1rem);
    height: 100%;
    z-index: -1;
    opacity: 1;
    top: 0;
}

@media (min-width: 768px) {
    .project-content {
        padding: 1rem 2.5rem;
    }
    .project-content .col {
        width: calc((100% / 2) - 4rem);
    }
    .project-content h2 {
        position: relative;
        font-size: 1.75rem;
        font-weight: 300;
        font-family: 'Palanquin', sans-serif;
    }
    .project-content h3 {
        font-size: 1.25rem;
    }

    /* .project-content h2:after {
        height: 2.75rem;
    } */
}

@media (min-width: 1024px) {
    .project-content {
        font-size: 1.125rem;
    }
}


@keyframes project-landing {
    100% {  
            top: 0;
            /* transform: translate(0, -2rem); */
            width: 100%;
            height: 25rem;
            border-radius: 0;
            left: 0;
    }
}

@keyframes projectContentLoadIn {
    0%   { 
        opacity: 0; 
        transform: translateY(1rem)
    }
    100% { 
  
        transform: translateY(0);
        opacity: 1; 
    }
}

@keyframes imageTransition {
    0% {
    transform: rotate(0deg);
    }
    100% {  
        transform: rotate(20deg);
    }
}


.blog-view {
    max-width: 40rem;
    margin: 0 auto;
    margin-top: 2rem;
}

.blog-view h2 {
    margin-bottom: 2rem;
}

.blog-view img {
    width: 100%;
}

.blog-view ul {
    margin-left: 2rem;
}

.blog-view ul li, .blog-view ol li {
    margin-bottom: 0.25rem;
}