.product-contents {
    margin-top: 1rem;
}

.pdp-imagery {
    width: 100%;
    display: flex;
    overflow: scroll;
    scroll-snap-coordinate: 0 0;
    scroll-snap-points-x: repeat(100%);
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    cursor: pointer;
    transition: all 0.4s ease;
    background: #fff;
    position: relative;
}

.pdp-imagery>.img-container {
    width: 80%;
    margin-right: 1rem;
    animation: pdpMobileLoadUp 3s forwards;
    transition: all 0.3s ease-in-out;
    flex-shrink: 0;
    padding-top: 100%;
    height: 0;
    position: relative;
    overflow: hidden;
    background: #f6f6f6;
}

.pdp-imagery>.img-container.placeholder {
    background: #fff;
}

.pdp-imagery>.img-container img {
    width: 100%;
    pointer-events: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    -webkit-animation: fadeIn 1s forwards;
    animation: fadeIn 1s forwards;
    top: 0;
}


.pdp-imagery>.img-container img[alt]:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    font-family: 'Helvetica';
    font-weight: 300;
    line-height: 2;
    text-align: center;
    content: attr(alt);
    color: #f6f6f6;
}


.pdp-imagery>.img-container.placeholder img[alt]:after {
    color: #fff;
    background-color: #fff;
}

.pdp-imagery>.img-container.zoom {
    width: 100%;
    cursor: initial;
    padding-top: 125%;
}


h1.product-title {
    font-size: 1.25rem;
}

h1.product-title.placeholder,
p.description.placeholder,
p.price.placeholder {
    /* background: #f6f6f6;
    color: #f6f6f6; */
    background: white;
    color: white;
}

button.close-icon {
    position: fixed;
    z-index: 1;
    cursor: pointer;
    font-size: 1rem;
    top: 8rem;
    right: 1.5rem;
    box-shadow: none;
    border: 0;
    background: none;
    padding: 0;
    outline: none;
    animation: pdpMobileLoadUp 3s forwards;
}

.product-details {
    -webkit-animation: fadeIn 1s forwards;
    animation: fadeIn 1s forwards;
}

button.close-icon img {
    width: 3rem;
}

.image-chevron {
    display: none;
}

.product-contents button:focus {
    outline: 0;
}

.product-details .description {
    height: unset;
    max-height: unset;
    -webkit-line-clamp: unset;
    width: 90%;
}

.product-details button.add-to-bag {
    width: 90%;
    margin-top: 1rem;

}

@media (min-width: 768px) {
    .product-contents {
        margin-top: 1.5rem;
    }

    .pdp-imagery>.img-container {
        width: 42%;
        margin-right: 1rem;
        animation: pdpMobileLoadUp 3s forwards;
        transition: all 0.3s ease-in-out;
        flex-shrink: 0;
        padding-top: 52%;
        height: 0;
        position: relative;
        overflow: hidden;
        background: #f6f6f6;
    }
}


@media (max-width: 1023px) {
    .pdp-imagery {
        scroll-snap-coordinate: 0 0;
        scroll-snap-points-x: repeat(100%);
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
    }
}

@media (min-width: 1024px) {

    .product-contents {
        display: flex;
        /* flex-direction: row-reverse; */
    }

    .product-contents.zoom {
        /* flex-direction: column-reverse; */
        flex-wrap: wrap;
    }

    .product-details {
        width: 33.33%;
        padding-left: 1rem;
    }

    h1.product-title {
        font-size: 1.5rem;
        margin-block-start: 0;
    }

    .pdp-imagery {
        width: 66.66%;
        flex-wrap: wrap;
        justify-content: space-between;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
        transition: width 0.3s ease;
    }

    .pdp-imagery.desktop {
        scroll-snap-coordinate: 0 0;
        scroll-snap-points-x: repeat(100%);
        scroll-snap-type: x;
        -webkit-overflow-scrolling: touch;
        width: 100%;
        flex-wrap: nowrap;
        justify-content: start;
        flex-shrink: 0;
        position: relative;
        overflow-y: hidden;
    }


    .pdp-imagery::-webkit-scrollbar {
        display: none;
    }

    .pdp-imagery>.img-container {
        width: calc(50% - 1rem);
        margin-bottom: 1rem;
        animation: pdpDesktopLoadUp 0.75s forwards;
        scroll-snap-align: unset;
        flex: 0 0 calc(50% - 1rem);
        transition: all 0s;
        padding-top: 60%;
    }

    .pdp-imagery.desktop>.img-container {
        height: 100%;
        padding-top: 60%;
    }

    button.close-icon {
        position: relative;
        top: 1rem;
        right: 0.5rem;
        justify-content: flex-end;
        display: flex;
        height: 0;
        width: 100%;
    }

    .image-chevron {
        border: 0;
        position: relative;
        width: 100%;
        box-shadow: none;
        display: block;
        z-index: 1;
        background: none;
    }

    .image-chevron img {
        position: absolute;
        right: 0.25rem;
        height: 3rem;
        -webkit-animation: fadeIn 1s forwards;
        animation: fadeIn 1s forwards;
        transition: top 0.3s ease;
    }

    .image-chevron img.left {
        left: -0.25rem;
    }

    .image-chevron img.right {
        right: -0.25rem;
    }
}




@keyframes pdpDesktopLoadUp {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }

    75% {}

    100% {

        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes pdpMobileLoadUp {
    0% {
        opacity: 0;
        transform: translateX(150px);
    }

    20% {
        opacity: 1;
    }

    30% {

        transform: translateX(0);
    }

    100% {

        scroll-snap-align: start;
    }
}