nav {
    position: fixed;
    width: 100%;
    top: 0;
    background: var(--off-white);
    z-index: 3;
    border-bottom: 0.0625rem solid var(--deep-purple);
}

.masthead {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 0.0625rem solid var(--deep-purple);
    background: var(--white);
}

.masthead.hovered {
    background: var(--happy-mustard);
}

.masthead > .section {
    display: flex;
    width: 100%;
    height: 4.5rem;
    align-items: center;
    justify-content: space-between;
}

.masthead a.logo-image {
    text-decoration: none;
    color: var(--deep-purple);
    background: var(--happy-mustard);
    width: 3.5rem;
    height: 3.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: all 0.3s ease;
}

.masthead.hovered a.logo-image {
    transform: scale(1.2);
}

.masthead a.logo-image img {
    height: 110%;
    width: 110%;
    transform: rotate(-90deg);
}

.header-side-container {
    display: flex;
    align-items: center;
}

.header-side-container.right {
    display: flex;
    justify-content: flex-end;
}

.masthead ul {
    list-style-type: circle;
    padding-inline-start: 3.25rem;
    display: flex;
    flex-wrap: wrap;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}

.masthead ul li {
    height: 2.5rem;
    align-items: center;
    padding: 0 0.5rem;
    flex-basis: 100%;
    margin: 0.25rem 0;
}

.masthead ul li::marker {
    font-size: 1rem;
}

.masthead ul li a {
    font-size: 1.125rem;
    height: 100%;
    text-decoration: none;
    color: var(--deep-purple);
    background: none;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 0 0.5rem;
    white-space: nowrap;
    width: fit-content;
    transition: all 0s;
    text-decoration: underline;
}

.masthead ul li a:hover {
    background: var(--happy-mustard);
    color: var(--happy-mustard-text);
}

.masthead a:hover, ul li a:hover {
    text-decoration: underline;
}


/* Burger Menu */
  
#burger-button {
    width: 9rem;
    height: 2.5rem;
    padding: 0.375rem 0.5rem;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    border: 0.125rem solid var(--deep-purple);
    background: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  #burger-button:hover {
    background: var(--happy-mustard);
  }

  #burger-button:hover p  {
    color: var(--happy-mustard-text);
  }

  #burger-button:hover span {
      background: var(--happy-mustard-text);
  }
  
  #burger-button span {
    width: 1.25rem;
    display: block;
    position: absolute;
    height: 0.125rem;
    background: var(--deep-purple);
    opacity: 1;
    right: 0.75rem;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    pointer-events: none;
  }
  
  #burger-button span:nth-child(1) {
    top: 0.675rem;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  #burger-button span:nth-child(2) {
    top: 1.0625rem;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  #burger-button span:nth-child(3) {
    top: 1.4375rem;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  #burger-button.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0.6275rem;
    right: 0.5rem;
  }
  
  #burger-button.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  
  #burger-button.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 1.5rem;
    right: 0.5rem;
  }

  #burger-button p {
    font-size: 1rem;
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 400;
    margin: 0;
    margin-bottom: 0.125rem;
    pointer-events: none;
  }

  .brand-name {
      display: none;
      align-items: center;
      margin-left: 0.9375rem;
  }
  .brand-name img {
    height: 1.5rem;
    margin-top: 0.25rem;
  }

  a.get-in-touch {
    margin-right: 2rem;
    display: none;
    align-items: center;
  }

  @media (min-width: 768px) {
    #burger-button {
        width: 9rem;
    }
    a.get-in-touch  {
        display: flex;
    }
    .brand-name {
      display: flex;
    }
  }

  .desktop-links {
    display: none;
  }

  @media (min-width: 1024px) {
    .desktop-links {
      display: flex;
    }
  }



/* Theme toggle */

.toggle-switch {
    width: 3.5rem;
    height: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-shrink: 0;
    background: var(--white);
    border: 2px solid var(--deep-purple);
    box-sizing: border-box;
    justify-content: flex-start;
    padding: 0 0.125rem;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.toggle-switch:focus {
  border-radius: 2rem;
}
.toggle-switch div.indicator {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background: var(--happy-mustard);
    transition: all 0.3s ease;
    position: relative;
}
.toggle-switch div.indicator:after {
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background: var(--happy-mustard);
    transition: all 0.3s ease;
    border: 2px dotted white;
    box-sizing: border-box;
}
.toggle-switch.dark div.indicator {
    transform: translateX(1.5rem);
    background: var(--deep-purple);
}

.toggle-switch.dark div.indicator:after {
    height: 1.0625rem;
    width: 1.0625rem;
    border-radius: 0;
    border-bottom-right-radius: 0.75rem;
    background: var(--white);
    border: 0;
}