nav {
    position: fixed;
    width: 100%;
    top: 0;
    background: var(--off-white);
    z-index: 2;
    border-bottom: 0.0625rem solid var(--deep-purple);
}

.masthead {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 0.0625rem solid var(--deep-purple);
    background: var(--white);
}

.masthead.hovered {
    background: var(--happy-mustard);
}

.masthead > .section {
    display: flex;
    width: 100%;
    height: 4.5rem;
    align-items: center;
    justify-content: space-between;
}

.masthead a.logo-image {
    text-decoration: none;
    color: var(--deep-purple);
    background: var(--happy-mustard);
    width: 3.5rem;
    height: 3.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.masthead.hovered a.logo-image {
    transform: scale(1.2);
}

.masthead a.logo-image img {
    height: 110%;
    width: 110%;
    transform: rotate(-90deg);
}

.header-side-container {
    width: 25%;
}

.masthead ul {
    list-style-type: none;
    padding-inline-start: 0;
    display: flex;
    margin-block-start: 0;
    margin-block-end: 0;
}

.masthead ul li {
    height: 2.5rem;
    align-items: center;
    padding: 0 0.5rem;
}

.masthead ul li a {
    font-size: 1rem;
    height: 100%;
    text-decoration: none;
    color: var(--deep-purple);
    background: none;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 0 0.5rem;
    white-space: nowrap;
    width: auto;
    transition: all 0;
}

.masthead ul li a:hover {
    background: var(--happy-mustard);
    color: var(--happy-mustard-text);
}

.masthead a:hover, ul li a:hover {
    text-decoration: underline;
}


/* Theme toggle */

.toggle-switch {
    width: 3.5rem;
    height: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-shrink: 0;
    background: var(--white);
    border: 2px solid var(--deep-purple);
    box-sizing: border-box;
    justify-content: flex-start;
    padding: 0 0.125rem;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
.toggle-switch div.indicator {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background: var(--happy-mustard);
    transition: all 0.3s ease;
    position: relative;
}
.toggle-switch div.indicator:after {
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background: var(--happy-mustard);
    transition: all 0.3s ease;
    border: 2px dotted white;
    box-sizing: border-box;
}
.toggle-switch.dark div.indicator {
    transform: translateX(1.5rem);
    background: var(--deep-purple);
}

.toggle-switch.dark div.indicator:after {
    height: 1.0625rem;
    width: 1.0625rem;
    border-radius: 0;
    border-bottom-right-radius: 0.75rem;
    background: var(--white);
    border: 0;
}


